{{!-- beers --}}
<div class="container mt-5">
  <div class="column">
     {{!--   {{#each beers}} --}}

       {{> beerpartial}}

    {{!-- <div class="col">
      <img src="{{image_url}}" alt="beer image">
    </div>
    <div class="col">
     <h2>{{name}}</h2>
        <p>{{description}}</p>
        <p>{{tagline}}</p>
    </div> --}}
    
    {{!--  {{/each}} --}}
  </div>
</div>