{{!-- beers --}}
<div class="container mt-5">
 
     <h1 class="display-1">Beers</h1>

  <div class="container mx-auto">
    {{#each beers}}
        {{this}}
        <p>test p</p>
    {{/each}}
  </div>
</div>