
<div class="container mx-auto">
    <div>
        <img src="/images/beer.png" class="rounded mx-auto d-block" alt="beer image">
    </div>    
    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary btn-dark" type="button"><a href="/beers">Check the Beers!</a></button>
        <button class="btn btn-primary btn-dark" type="button"><a href="/">Check a Random Beer</a></button>
    </div>
    {{!-- <button type="button" class="btn btn-lg btn-block btn-dark"><a href="/beers">Check the Beers!</a></button>
    <button type="button" class="btn btn-lg btn-block btn-dark"><a href="">Check a Random Beer</a></button> --}}
</div>