
<div class="container mx-auto mt-5">
    <div>
        <img src="/images/beer.png" class="rounded mx-auto d-block" alt="beer image">
    </div>    
    <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <button class="btn btn-primary btn-dark" type="button"><a href="/beers">Check the Beers!</a></button>
        <button class="btn btn-primary btn-dark" type="button"><a href="/randomBeer">Check a Random Beer</a></button>
    </div>
</div>